<?php
$this->headTitle('404: Page Not Found');
$this->layout()->manual = true;

$sayings = array(
    'Yeah...It\'s a Mystery.',
    'We Just Don\'t Know What Went Wrong!',
    'Derpy Ate This Page.',
);
shuffle($sayings);
$subtitle = current($sayings);
?>

<div class="row-fluid">
    <div class="span8">
        <h2><?=$subtitle ?></h2>
        <center><img src="<?=\DF\Url::content('images/404.png') ?>" alt="Happy Derpeh" title="Who can be mad at a face like that?" /></center>
    </div>
    <div class="span4">
        <h2>Where Am I?</h2>
        <p>You're on the web site of <b>Ponyville Live!</b>, a network of My Little Pony-based radio stations, video streams, podcasts, and more. Together, we offer 24/7 streaming content, live convention coverage, and much more.</p>

        <p>Visit our homepage and explore our network by clicking the link below!</p>

        <div class="buttons">
            <?=$this->button(array(
                'href'      => \DF\Url::route(),
                'text'      => 'Ponyville Live! Homepage',
                'class'     => 'btn-large btn-primary',
                'icon'      => 'icon-home',
            )) ?>
        </div>
    </div>
</div>