<?
$this->headTitle('Manage Conventions');
?>

<h2><?=$this->convention->name ?></h2>
<h3>Manage Convention Press Signups</h3>

<div class="buttons btn-group">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large',
        'href'      => $this->routeFromHere(array('action' => 'index', 'convention' => NULL)),
        'icon'      => 'icon-arrow-left',
        'text'      => 'Back to Main',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large',
        'href'      => $this->routeFromHere(array('format' => 'csv')),
        'icon'      => 'icon-download',
        'text'      => 'Download Excel CSV',
    )) ?>
</div>

<table class="table table-striped datatable">
    <colgroup>
        <col width="15%">
        <col width="5%">
        <col width="20%">
        <col width="15%">
        <col width="15%">
        <col width="30%">
    </colgroup>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Legal / Pony Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->signups as $record): ?>
        <tr class="input">
            <td class="center">
                <div class="btn-group">
                    <?=$this->button(array(
                        'type'      => 'small',
                        'icon'      => 'icon-pencil',
                        'class'     => 'fancybox fancybox.ajax',
                        'href'      => $this->routeFromHere(array('action' => 'editsignup', 'id' => $record['id'])),
                        'text'      => 'Edit',
                    )) ?>
                    <?=$this->button(array(
                        'type'      => 'small',
                        'icon'      => 'icon-trash',
                        'class'     => 'danger confirm-delete',
                        'href'      => $this->routeFromHere(array('action' => 'deletesignup', 'id' => $record['id'])),
                        'text'      => 'Delete',
                    )) ?>
                </div>
            </td>
            <td class="center">
                <img src="<?=$record->user->getAvatar() ?>" alt="Avatar">
            </td>
            <td>
                <big><?=$record->pony_name ?></big><br>
                <?=$record->legal_name ?>
            </td>
            <td>
                <?=$this->mailto($record->email) ?>
            </td>
            <td>
                <?=$record->phone ?>
            </td>
            <td>
            <? if ($record->travel_notes): ?>
                <div><b>Travel:</b> <?=nl2br($record->travel_notes) ?></div>
            <? endif; ?>
            <? if ($record->accommodation_notes): ?>
                <div><b>Accommodations:</b> <?=nl2br($record->accommodation_notes) ?></div>
            <? endif; ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>