<?php
$this->headTitle('PVL Artists');
$this->layout()->manual = true;

$categories = \Entity\Artist::getSocialTypes();
?>

<div class="row">
    <div class="span3">
        <?=$this->renderHere('sidebar') ?>
    </div>
    <div class="span4">
        <div class="floating">
            <h2>We &hearts; Content Creators</h2>

            <p>Here at Ponyville Live!, our radio stations, video streams and podcasts all depend on one group: the brilliant creative minds in the pony community who produce new and awesome content every day for us to enjoy.</p>

            <p>To help us celebrate and recognize the artists behind our vast network of content, PVL has created the Artists Directory, a guide that features some of ponydom's finest musicians, designers, animators, VAs, DJs, and more.</p>

            <p>Each profile on our site tells you more about the artists, and connects you directly to their social networking pages, where you can follow them, like them, and keep up with their newest creations.</p>

            <p>To get started, <b>visit one of the artist types on the left sidebar, or search for your favorite artist.</b></p>
        </div>
    </div>
    <div class="span5">
        <div class="floating">
            <?=\Entity\Block::render('artists') ?>
        </div>
    </div>
    <!--<? /*
    <div class="span9">
        <div class="floating">
            <ul class="media-list">
            <? foreach($this->news as $article): ?>
                <?
                $artist_url = $this->route(array('controller' => 'artists', 'action' => 'view', 'id' => $article['author_id']));
                ?>
                <li class="media news-article">
                    <div class="media-object pull-left">
                        <a href="<?=$artist_url ?>"><img class="thumbnail" src="<?=$article['image_url'] ?>" title="<?=$article['author'] ?>" style="width: 80px;"></a>
                    </div>
                    <div class="media-body">
                        <h5><a href="<?=$artist_url ?>"><?=$article['artist']['name'] ?></a><small> via <?=$categories[$article['source']]['name'] ?></small></h5>
                        <h4><?=$article['title'] ?><br><small><?=date('F j \a\t g:ia', $article['timestamp']) ?></small></h4>
                        <?=$article['body'] ?>
                    </div>
                </li>
            <? endforeach; ?>
            </ul>
        </div>
    </div>
    */ ?>-->
</div>

