<?
$this->headTitle('API Dashboard');
?>

<h3>
    <?=date('F j, Y g:ia', $this->statistics['meta']['threshold']) ?> to Current<br>
    <small><?=$this->statistics['meta']['total_calls'] ?> API Calls (<?=$this->statistics['meta']['calls_per_minute'] ?> per minute)</small>
</h3>

<div class="row-fluid">
    <div class="span4">
        <h2>Function Calls per Minute</h2>

        <table class="table datatable table-bordered table-striped">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="50%">
            </colgroup>
            <thead>
                <tr>
                    <th>Total</th>
                    <th>Percent</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            <? foreach($this->statistics['calls_by_function'] as $function_name => $function_data): ?>
                <tr class="input">
                    <td class="text-right"><?=$function_data['total'] ?></td>
                    <td class="text-right"><?=$function_data['percentage'] ?></td>
                    <td><?=$function_name ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="span4">
        <h2>Speed by Function</h2>

        <table class="table datatable table-bordered table-striped">
            <colgroup>
                <col width="25%">
                <col width="75%">
            </colgroup>
            <thead>
            <tr>
                <th>Time</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <? foreach($this->statistics['speed_by_function'] as $function_name => $function_data): ?>
            <tr class="input">
                <td class="text-right"><?=$function_data['total'] ?>ms</td>
                <td><?=$function_name ?></td>
            </tr>
            <? endforeach; ?>
            </tbody>
        </table>

    </div>
    <div class="span4">
        <h2>Calls by Hour of Day</h2>

        <table class="table datatable table-bordered table-striped">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="50%">
            </colgroup>
            <thead>
            <tr>
                <th class="right">Total</th>
                <th class="right">Percent</th>
                <th>Hour (Local Time)</th>
            </tr>
            </thead>
            <tbody>
            <? foreach($this->statistics['calls_by_hour'] as $hour => $row_info): ?>
            <tr class="input">
                <td class="right"><?=$row_info['total'] ?></td>
                <td class="right"><?=$row_info['percentage'] ?></td>
                <td><?=str_pad($hour, 2, '0', STR_PAD_LEFT) ?>:00</td>
            </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Top Client UserAgents</h2>

        <table class="table datatable table-bordered table-striped">
            <colgroup>
                <col width="15%">
                <col width="15%">
                <col width="70%">
            </colgroup>
            <thead>
            <tr>
                <th class="right">Total</th>
                <th class="right">Percent</th>
                <th>UA String</th>
            </tr>
            </thead>
            <tbody>
            <? foreach($this->statistics['calls_by_useragent'] as $key => $row_info): ?>
                <tr class="input">
                    <td class="right"><?=$row_info['total'] ?></td>
                    <td class="right"><?=$row_info['percentage'] ?></td>
                    <td><?=$key ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="span3">
        <h2>Top Client IPs</h2>

        <table class="table datatable table-bordered table-striped">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="50%">
            </colgroup>
            <thead>
            <tr>
                <th class="right">Total</th>
                <th class="right">Percent</th>
                <th>IP Address</th>
            </tr>
            </thead>
            <tbody>
            <? foreach($this->statistics['calls_by_ip'] as $key => $row_info): ?>
                <tr class="input">
                    <td class="right"><?=$row_info['total'] ?></td>
                    <td class="right"><?=$row_info['percentage'] ?></td>
                    <td><?=$key ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="span3">
        <h2>Top Client Sources</h2>

        <table class="table datatable table-bordered table-striped">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="50%">
            </colgroup>
            <thead>
            <tr>
                <th class="right">Total</th>
                <th class="right">Percent</th>
                <th>Client String</th>
            </tr>
            </thead>
            <tbody>
            <? foreach($this->statistics['calls_by_client'] as $key => $row_info): ?>
                <tr class="input">
                    <td class="right"><?=$row_info['total'] ?></td>
                    <td class="right"><?=$row_info['percentage'] ?></td>
                    <td><?=$key ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
</div>