<?
$this->headTitle('Manage Podcasts');
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large success',
        'href'      => $this->routeFromHere(array('action' => 'edit')),
        'icon'      => 'icon-plus-sign',
        'text'      => 'Add New Podcast',
    )) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="table table-striped table-nopadding">
    <colgroup>
        <col width="20%" />
        <col width="10%" />
        <col width="5%" />
        <col width="35%" />
        <col width="30%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Avatar</th>
            <th>Status</th>
            <th>Podcast Name</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $record): ?>
        <tr class="input">
            <td class="center">
                <div class="btn-group">
                    <?=$this->button(array(
                        'type'      => 'small',
                        'icon'      => 'icon-pencil',
                        'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => $record['id'])),
                        'text'      => 'Edit',
                    )) ?>
                    <?=$this->button(array(
                        'type'      => 'small',
                        'icon'      => 'icon-trash',
                        'class'     => 'danger confirm-delete',
                        'href'      => $this->routeFromHere(array('action' => 'delete', 'id' => $record['id'])),
                        'text'      => 'Delete',
                    )) ?>
                </div>
            </td>
            <td class="center"><img src="<?=\DF\Url::content($record['image_url']) ?>" style="width: 64px;"></td>
            <td class="center">
            <? if ($record->is_approved): ?>
                <span class="large-icon" title="Approved"><i class="icon-ok-sign"></i></span>
            <? else: ?>
                <span class="large-icon" title="Needs Review"><i class="icon-warning-sign"></i></span>
            <? endif; ?>
            </td>
            <td>
                <big><?=$record['name'] ?></big><br>
                <?=$record['description'] ?>
            </td>
            <td><a href="<?=$record['web_url'] ?>" target="_blank"><?=$record['web_url'] ?></a></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>