<div id="listeners_by_day" style="height: 250px;"></div>

<script type="text/javascript">
$(function () {
    $('#listeners_by_day').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Traffic by Day'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                formatter: function () {
                    return Highcharts.dateFormat('%a %d %b', this.value);
                },
                dateTimeLabelFormats: {
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%e. %b',
                    week: '%e. %b',
                    month: '%b \'%y',
                    year: '%Y'
                }
            }
        },
        yAxis: {
            title: {
                text: 'Listeners'
            },
            min: 0
        },
        tooltip: {
            crosshairs: true,
            xDateFormat: '%Y-%m-%d'
        },
        plotOptions: {
            spline: {
                lineWidth: 2,
                marker: { enabled: false },
                shadow: false,
                states: {
                    hover: {
                        lineWidth: 3
                    }
                },
                threshold: null
            }
        },
        colors: [
            '#666666',
            '#2f7ed8',
            '#000000'
        ],
        
        series: [{
            name: 'Daily Listener Range',
            type: 'arearange',
            data: <?=$this->daily_ranges ?>
        }, {
            name: 'Hourly Average Listeners',
            type: 'spline',
            data: <?=$this->hourly_averages ?>
        }, {
            name: 'Daily Average Listeners',
            type: 'spline',
            data: <?=$this->daily_averages ?>
        }]
    });
});
</script>