<h2><?=$this->subject ?></h2>

<p>A new password recovery request has been submitted for your account in the Ponyville Live! network homepage.</p>

<p>
    To recover your account access and enter a new password, visit this page:<br>
    <?=$this->link($this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'recover', 'id' => $this->record->id, 'code' => $this->record->auth_recovery_code))) ?>
</p>

<p>If you did not submit this request, you may disregard this e-mail and your previous password will work as intended.</p>