<?
$this->headTitle('Support the Ponyville Live! Network');
?>

<p>
    The Ponyville Live! network is a not-for-profit operation, and makes no revenue from its convention coverage, radio, video or podcast syndication services.<br>
    We depend on the support of our community to help us bring you the best in pony media.
</p>

<h2>Why Donate?</h2>

<p>
    Ponyville Live! is more than just a web site. We build and maintain a huge network to bring you the best of pony media all day, every day.<br>
    In addition to our own homepage, we also maintain the following services:
</p>

<br>
<div class="row-fluid">
    <div class="span4 text-center">
        <div><i class="large-icon icon-globe"></i></div>
        <h3>Web Hosting</h3>

        <p>PVL provides free-of-charge hosting for a number of our radio stations and video streams. We also host the databases powering not only our own homepage, but also third-party apps like HoofSounds.</p>
    </div>
    <div class="span4 text-center">
        <div><i class="large-icon icon-music"></i></div>
        <h3>Radio Station Hosting</h3>

        <p>Eight of PVL's radio stations are hosted on the Ponyville Live! radio server. Just like web hosting, we provide a fully-licensed CentovaCast station completely free of charge to the stations who use it.</p>
    </div>
    <div class="span4 text-center">
        <div><i class="large-icon icon-group"></i></div>
        <h3>Convention Coverage</h3>

        <p>The PVL press teams cover conventions from across the globe, and we never charge conventions for our recording or streaming services. Sending our cameras and staff to conventions is by far our largest expense.</p>
    </div>
</div>

<br><br>
<p>100% of your donations to the Ponyville Live! network go directly toward supporting the services listed above.</p>

<br>
<h2>How to Donate Directly</h2>

<p>We are always working to expand our donation options. You can now donate using any of the methods listed below:</p>

<div class="row-fluid">
    <div class="span4">
        <h3>Donate with Paypal</h3>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="ATKJ53AWWRQP4">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
    <div class="span8">
        <h3>Donate with Amazon Payments</h3>

        <div class="row-fluid">
            <div class="span4">
                <h4>Donate $5 USD</h4>

                <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
                    <input type="hidden" name="returnUrl" value="http://ponyvillelive.com/index/donate" >
                    <input type="hidden" name="processImmediate" value="1" >
                    <input type="hidden" name="signatureMethod" value="HmacSHA256" >
                    <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
                    <input type="hidden" name="collectShippingAddress" value="0" >
                    <input type="hidden" name="isDonationWidget" value="0" >
                    <input type="hidden" name="amazonPaymentsAccountId" value="PLIWTQTXRXFAJFT7J5GLPM5XI1ERVSPPN5PPLJ" >
                    <input type="hidden" name="cobrandingStyle" value="logo" >
                    <input type="hidden" name="immediateReturn" value="0" >
                    <input type="hidden" name="amount" value="USD 5" >
                    <input type="hidden" name="description" value="Support Ponyville Live!" >
                    <input type="hidden" name="abandonUrl" value="http://ponyvillelive.com/index/donate" >
                    <input type="hidden" name="signatureVersion" value="2" >
                    <input type="hidden" name="signature" value="cwdI+t5lhIS0DsnXkVW7jMNxj7Iwna3sni3NnwVAIUY=" >
                    <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/beige_small_paynow_withmsg_whitebg.gif" border="0">
                </form>
            </div>
            <div class="span4">
                <h4>Donate $10 USD</h4>

                <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
                    <input type="hidden" name="returnUrl" value="http://ponyvillelive.com/index/donate" >
                    <input type="hidden" name="processImmediate" value="1" >
                    <input type="hidden" name="signatureMethod" value="HmacSHA256" >
                    <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
                    <input type="hidden" name="collectShippingAddress" value="0" >
                    <input type="hidden" name="isDonationWidget" value="0" >
                    <input type="hidden" name="amazonPaymentsAccountId" value="PLIWTQTXRXFAJFT7J5GLPM5XI1ERVSPPN5PPLJ" >
                    <input type="hidden" name="cobrandingStyle" value="logo" >
                    <input type="hidden" name="immediateReturn" value="0" >
                    <input type="hidden" name="amount" value="USD 10" >
                    <input type="hidden" name="description" value="Support Ponyville Live!" >
                    <input type="hidden" name="abandonUrl" value="http://ponyvillelive.com/index/donate" >
                    <input type="hidden" name="signatureVersion" value="2" >
                    <input type="hidden" name="signature" value="hkme0PEI9omjnqPonO1p6YbQ6pA/NN62MJrngRdX6Z0=" >
                    <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/beige_small_paynow_withmsg_whitebg.gif" border="0">
                </form>
            </div>
            <div class="span4">
                <h4>Donate $25 USD</h4>

                <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
                    <input type="hidden" name="returnUrl" value="http://ponyvillelive.com/index/donate" >
                    <input type="hidden" name="processImmediate" value="1" >
                    <input type="hidden" name="signatureMethod" value="HmacSHA256" >
                    <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
                    <input type="hidden" name="collectShippingAddress" value="0" >
                    <input type="hidden" name="isDonationWidget" value="0" >
                    <input type="hidden" name="amazonPaymentsAccountId" value="PLIWTQTXRXFAJFT7J5GLPM5XI1ERVSPPN5PPLJ" >
                    <input type="hidden" name="cobrandingStyle" value="logo" >
                    <input type="hidden" name="immediateReturn" value="0" >
                    <input type="hidden" name="amount" value="USD 25" >
                    <input type="hidden" name="description" value="Support Ponyville Live!" >
                    <input type="hidden" name="abandonUrl" value="http://ponyvillelive.com/index/donate" >
                    <input type="hidden" name="signatureVersion" value="2" >
                    <input type="hidden" name="signature" value="yZRSSplkmD4VEnng5Qgs9RidyWkdoiaIkWISvmwsDd4=" >
                    <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/beige_small_paynow_withmsg_whitebg.gif" border="0">
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<h2>Other Ways to Support Us</h2>

<p>If you can't donate, you can always support the network in other ways. We are very grateful for your support in any form!</p>

<div class="row-fluid">
    <div class="span4">
        <a href="https://www.digitalocean.com/?refcode=3d967b113eeb"><img src="<?=\DF\Url::content('images/do.png') ?>" alt="DigitalOcean"></a>
    </div>
    <div class="span8">
        <h3>Sign Up Through DigitalOcean</h3>
        <p>Several of the Ponyville Live! servers are powered by DigitalOcean, an affordable and powerful provider of Virtual Private Server (VPS) instances. If you're looking for a place to host your own web site, sign up using our referral code, and you'll get an extra <b>$10 credit</b> toward your server bill just for signing up.</p>

        <div class="buttons">
            <?=$this->button(array(
                'type' => 'link',
                'icon' => 'icon-asterisk',
                'text' => 'Learn More / Sign Up',
                'href' => 'https://www.digitalocean.com/?refcode=3d967b113eeb',
                'target' => '_blank',
                'class' => 'btn-primary',
            )) ?>
        </div>
    </div>
</div>