<?php
$this->layout()->manual = TRUE;
$this->layout()->hide_title = true;
$this->render_mode = 'homepage';
?>

<? $this->placeholder('content_top')->captureStart(); ?>
<div id="home_header" class="rich_header">
    <div class="container">
    <? if ($this->special_event): ?>
        <div class="well">
            <div class="special_event">
                <div class="row-fluid">
                <? if (empty($this->special_chat_embed)): ?>
                    <div class="span12"><?=$this->special_event_embed ?></div>
                <? else: ?>
                    <div class="span7"><?=$this->special_event_embed ?></div>
                    <div class="span5"><?=$this->renderHere('chat', TRUE) ?></div>
                <? endif; ?>
                </div>
            </div>
        </div>
    <? elseif (count($this->network_news) > 0): ?>
        <div class="well carousel slide" id="rotator" data-interval="5000">     
            <ol class="carousel-indicators">
            <? for($i = 0; $i < count($this->network_news); $i++): ?>
                <li data-target="#rotator" data-slide-to="<?=$i ?>" <? if ($i == 0): ?>class="active"<? endif; ?>></li>
            <? endfor; ?>
            </ol>
            <div class="carousel-inner">
            <? foreach($this->network_news as $i => $article): ?>
                <div class="item <? if ($i == 0): ?>active<? endif; ?>">
                    <a href="<?=$article['url'] ?>"><img src="<?=$article['image'] ?>" alt="Article Image"></a>
                    <div class="carousel-caption">
                        <a href="<?=$article['url'] ?>">
                            <h4><?=$article['title'] ?></h4>
                            <p><?=$article['description'] ?> <small>Read more &raquo;</small></p>
                        </a>
                    </div>
                </div>
            <? endforeach; ?>
            </div>

            <a class="carousel-control left" href="#rotator" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#rotator" data-slide="next">&rsaquo;</a>
        </div>
    <? endif; ?>
    </div>
</div>
<? $this->placeholder('content_top')->captureEnd(); ?>

<div class="row-fluid">
    <div class="span8">
        <?
        $cat = $this->categories['audio'];
        $station_cols = \DF\Utilities::columns($cat['stations'], 2);
        ?>
        <h2><i class="<?=$cat['icon'] ?>"></i> <?=$cat['name'] ?> <small><span id="nowplaying-listeners-audio"></span></small></h2>

        <div class="well">
            <div class="row-fluid">
                <div class="span6">
                    <?
                    $this->stations = $station_cols[0];
                    echo $this->renderCommon('station');
                    ?>
                </div>
                <div class="span6">
                    <?
                    $this->stations = $station_cols[1];
                    echo $this->renderCommon('station');
                    ?>
                </div>
            </div>
        </div>
    </div>
    <div class="span4">
        <?
        $cat = $this->categories['video'];
        ?>
        <h2><i class="<?=$cat['icon'] ?>"></i> <?=$cat['name'] ?> <small><span id="nowplaying-listeners-video"></span></small></h2>

        <div class="well">
            <?
            $this->stations = $cat['stations'];
            echo $this->renderCommon('station');
            ?>
        </div>

        <div id="secondary-rotator">
            <div class="well carousel slide"  data-interval="5000">
                <div class="carousel-inner">
                <? foreach($this->rotators as $i => $record): ?>
                    <div class="item <? if ($i == 0): ?>active<? endif; ?>">
                        <a href="<?=$record['web_url'] ?>" target="_blank"><img src="<?=\DF\Url::content($record['image_url']) ?>" title="<?=$record['description'] ?>"></a>
                    </div>
                <? endforeach; ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="buttons clearfix pull-right">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'icon-rss',
        'target'    => '_blank',
        'text'      => 'RSS Feed',
        'href'      => $this->route(array('controller' => 'show', 'action' => 'feed')),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'icon-book',
        'text'      => 'Show Directory',
        'href'      => $this->route(array('controller' => 'show')),
    )) ?>
</div>

<h2><i class="icon-rss"></i> Shows <small>Newest episodes first</small></h2>

<div class="well">
    <div class="row-fluid">
    <?
    $podcasts = array_slice($this->podcasts, 0, 15);
    $podcast_cols = \DF\Utilities::columns($podcasts, 3, true);

    foreach($podcast_cols as $podcasts):
    ?>
        <div class="span4">
            <ul class="media-list">
            <? foreach($podcasts as $podcast_info): ?>
                <?
                $podcast = $podcast_info['record'];
                $episodes = $podcast_info['episodes'];
                $ep = $episodes[0];
                ?>
                <li class="media podcast">
                    <div class="media-object pull-left">
                        <a href="<?=$this->routeFromHere(array('controller' => 'show', 'action' => 'view', 'id' => $podcast->id)) ?>">
                            <img class="station-image" src="<?=\DF\Url::content($podcast->image_url) ?>" style="width: 40px;">
                            <div class="station-play-button">
                                <i class="icon-rss"></i>
                            </div>
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="station-info">
                            <h4><?=$podcast->name ?> <a href="<?=$this->routeFromHere(array('controller' => 'show', 'action' => 'view', 'id' => $podcast->id)) ?>" title="Click for more information."><i class="icon-info-sign"></i> </a><br>
                                <span class="genre-info"><small>
                                    <?=$podcast->description ?>
                                <?
                                if (count($podcast->stations) > 0)
                                {
                                    $station_links = array();
                                    foreach($podcast->stations as $station)
                                    {
                                        $station_link = '<a href="#" class="btn-play-station" data-station="station_'.$station->short_name.'">'.$station->name.'</a>';
                                        $station_links[] = $station_link;
                                    }
                                    echo '<br><i class="icon-star"></i> Airs on '.implode(', ', $station_links);
                                }
                                ?> 
                                </small></span>
                            </h4>

                            <small>Newest Episode (<?=date('F j, Y', $ep['timestamp']) ?>):</small><br>
                            <a href="<?=$ep['web_url'] ?>" target="_blank"><b><?=$ep['title'] ?></b></a>
                        </div>
                    </div>
                </li>
            <? endforeach; ?>
            </ul>
        </div>
    <?
    endforeach;
    ?>
    </div>
</div>

<?
$tz_info = \PVL\Timezone::getInfo();
?>
<div class="buttons clearfix pull-right">
    <?=$this->button(array(
        'type'      => 'link',
        'href'      => $this->route(array('controller' => 'schedule')),
        'icon'      => 'icon-calendar',
        'text'      => 'See Full Schedules',
    )) ?>
</div>

<h2><i class="icon-calendar"></i> Upcoming Shows &amp; Events <small><i class="icon-time"></i> Times listed in <a href="<?=$this->route(array('controller' => 'profile', 'action' => 'timezone')) ?>" class="fancybox fancybox.ajax"><?=$tz_info['abbr'] ?></a></small></h2>

<div class="row-fluid">
    <div class="span9">
        <div class="well" id="schedule_container">
            <?=$this->renderHere('schedule') ?>
        </div>
    </div>
    <div class="span3">
        <div class="well">
            <?
            $ical_url = $this->route(array('module' => 'api', 'controller' => 'schedule', 'format' => 'ical', 'nocache' => time()));
            $ical_url = str_replace('http://', 'webcal://', $ical_url);
            $gcal_url = 'http://www.google.com/calendar/render?cid='.urlencode($ical_url);
            ?>
            <h3><i class="icon-calendar-empty"></i> Subscribe for Updates</h3>

            <p>You can subscribe to the list of upcoming Ponyville Live! events using your favorite calendar software (iCal, etc.) or add the feed directly to your Google Calendar feed.</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'target'    => '_blank',
                    'icon'      => 'icon-download',
                    'text'      => 'Download ICS',
                    'href'      => $ical_url,
                )) ?>
                <?=$this->button(array(
                    'type'      => 'link',
                    'target'    => '_blank',
                    'icon'      => 'icon-plus-sign',
                    'text'      => 'Add to Google Calendar',
                    'href'      => $gcal_url,
                )) ?>
            </div>

            <h3><i class="icon-twitter"></i> Follow the TwitterBot</h3>

            <p>Ponyville Live!'s main Twitter account announces shows as they're coming up, so you can keep up to date with what's going on right from your Twitter homepage!</p>

            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'target'    => '_blank',
                    'icon'      => 'icon-twitter',
                    'text'      => '@PonyvilleLive on Twitter',
                    'href'      => 'https://twitter.com/intent/user?screen_name=PonyvilleLive',
                )) ?>
            </div>
        </div>
    </div>
</div>

<?=$this->renderHere('index_conventions') ?>

<?=$this->renderHere('player_skeleton', TRUE) ?>

<script type="text/javascript">
var schedule_timeout;
var schedule_interval = 300000;

$(function() {

    $('.btn-play-station').click(function(e) {
        e.preventDefault();

        var station_id = $(this).data('station');
        playStation(station_id);

        return false;
    });

    schedule_timeout = setTimeout('updateSchedule()', schedule_interval);

});

function updateSchedule()
{
    $('#schedule_container').load('<?=$this->route(array('controller' => 'index', 'action' => 'schedule')) ?>', function(rt, status)
    {
        if (status == 'success')
        {
            clearTimeout(schedule_timeout);
            schedule_timeout = setTimeout('updateSchedule()', schedule_interval);
        }
    });
}
</script>