<?php
$this->headTitle($this->type_name);
?>

<?=$this->paginate($this->pager) ?>

<div class="media-list">
<? foreach($this->pager as $article): ?>
    <div class="well media news-article">
        <img class="media-object pull-left" src="<?=$article['image_url'] ?>" title="<?=$article['author'] ?>" style="width: 80px;">
        <div class="media-body">
            <h5><?=$article['author'] ?><small> in <?=$article->type_name ?></small></h5>
            <h4><?=$article['title'] ?><br><small><?=date('F j \a\t g:ia', $article['timestamp']) ?></small></h4>
            <?=$article['body'] ?>
        </div>
    </div>
<? endforeach; ?>
</div>

<?=$this->paginate($this->pager) ?>