#convention_header img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

a.video {
    display: block;
    position: relative;

    padding-bottom: 30px;
    border-radius: 5px;
    margin-bottom: 15px;

    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    background: #13385E;

    /* background: #111; */
    color: #FFF !important;
}
a.video:hover {
    text-decoration: none;
}
a.video img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
a.video .name {
    position: absolute;
    font-size: 11px;
    line-height: 14px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    bottom: 9px;
    left: 8px;
    right: 8px;
}
a.video .name h4 {
    font-size: 14px;
    padding: 0;
}