<?php
header("Content-type: text/html; charset=utf-8");
echo $this->doctype();
?>
<html class="full_layout">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<meta name="keywords" content="Pony, Brony, Radio, Video, Podcast, Multimedia, Convention, Ponyville, Live, MLP, MLP:FiM" />
<meta name="description" content="Equestria's newest Brony multimedia network, featuring 24/7 pony radio, videos, podcasts, convention coverage, and more." />
<link rel="canonical" href="http://ponyvillelive.com" />

<!-- iPhone/iPhone Retina -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<?=\DF\Url::content('ios/touch_icon_iphone.png') ?>" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?=\DF\Url::content('ios/touch_icon_iphone.png') ?>" />
<!-- iPad/iPad Retina -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?=\DF\Url::content('ios/touch_icon_ipad.png') ?>" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?=\DF\Url::content('ios/touch_icon_ipad.png') ?>" />

<!-- Facebook and Other Social Sites -->
<meta property="og:site_name" content="Ponyville Live!" />
<meta property="og:url" content="http://ponyvillelive.com/" />
<meta property="og:image" content="<?=\DF\Url::content('pvl_square.png') ?>" />

<link rel="image_src" href="<?=\DF\Url::content('pvl_square.png') ?>" />
<link href="https://plus.google.com/+PonyvilleLiveGlobal" rel="publisher" />

<?php
$title_items = $this->headTitle()->getIterator();
$title = current($title_items);

if (!$this->layout()->subtitle && $this->layout()->show_subtitle)
    $this->layout()->subtitle = next($title_items);

$this->headTitle($this->config->application->name);

if (DF_APPLICATION_ENV != "production")
    $this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

echo $this->headTitle()->setSeparator(" - ")->toString();

$this->headLink()
    ->appendStylesheet('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', 'all')
    ->appendStylesheet('//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', 'screen')
    ->appendStylesheet(\DF\Url::content('mobile/jquery.mobile-1.4.0.min.css'), 'all')
    ->appendStylesheet(\DF\Url::content('mobile/custom.css'), 'all');

$this->headScript()
    ->prependFile('//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js')
    ->prependFile(\DF\Url::cdn('jquery', '1.11.0'))
    ->appendFile(\DF\Url::content('js/swfobject.js'))
    ->appendFile(\DF\Url::content('mobile/jquery.mobile-1.4.0.min.js'))
    ->appendFile(\DF\Url::content('mobile/custom.js'))
    ->appendFile(\DF\Url::content('jplayer/jquery.jplayer.min.js'));

echo $this->headMeta()."\n";
echo $this->headLink()."\n";
echo $this->headScript()."\n";
?>
<script>
document.domain = 'ponyvillelive.com';
var DF_IsApp = false;

var DF_AppEnv = '<?=DF_APPLICATION_ENV ?>';
var DF_BaseUrl = '<?php echo \DF\Url::baseUrl(); ?>';
var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
</script>
</head>
<body class="ui-page-theme-a">
<!-- Google Universal Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '<?=$this->config->application->analytics_code ?>', 'ponyvillelive.com');
ga('send', 'pageview');
</script>
<!-- End Google Universal Analytics -->

<div id="webapp">
    <!-- Header -->
    <div data-role="header" data-position="fixed" data-tap-toggle="false">
        <a id="btn_back" href="<?=$this->route(array('module' => 'mobile')) ?>" class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all" data-role="button" role="button">Back</a>
        <h1><?=$title ?></h1>
    </div>

    <!-- Main Body -->
    <?
    $uri_raw = $_SERVER['REQUEST_URI'];
    $uri_class = preg_replace("/[^A-Za-z0-9_\/]/", '', $uri_raw);
    $uri_class = trim($uri_class, '/');
    $uri_class = 'page-'.str_replace('/', '_', $uri_class);
    ?>
    <div id="page" data-role="page" data-title="<?=$title ?>" data-url="<?=$uri_raw ?>" class="<?=$uri_class ?>">
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
            <?php echo $this->layout()->content; ?>
        </div>
    </div>

    <!-- Footer Nav -->
    <div data-role="footer" data-position="fixed" data-tap-toggle="false">
        <div id="player_controls" data-role="controlgroup">
            <a class="ui-corner-all ui-btn ui-btn-left" id="player_pause"><i class="fa fa-stop"></i></a>
            <div id="volume_icon_left"><i class="fa fa-volume-off"></i></div>
            <div id="volume_icon_right"><i class="fa fa-volume-up"></i></div>

            <input type="range" class="volume_slider" name="player_volume" id="player_volume" min="0" max="100" value="50" data-role="none" data-highlight="true" data-mini="true">
        </div>

        <div data-role="navbar">
            <ul>
                <li><a href="<?=$this->route(array('module' => 'mobile', 'action' => 'view', 'type' => 'radio')) ?>">
                    <span class="icon"><i class="fa fa-music"></i></span>
                    <span class="tab-label">Radio</span>
                </a></li>
                <li><a href="<?=$this->route(array('module' => 'mobile', 'action' => 'view', 'type' => 'video')) ?>">
                    <span class="icon"><i class="fa fa-video-camera"></i></span>
                    <span class="tab-label">Video</span>
                </a></li>
                <li><a href="<?=$this->route(array('module' => 'mobile', 'action' => 'view', 'type' => 'show')) ?>">
                    <span class="icon"><i class="fa fa-rss"></i></span>
                    <span class="tab-label">Shows</span>
                </a></li>
                <li><a href="<?=$this->route(array('module' => 'mobile', 'controller' => 'requests')) ?>">
                    <span class="icon"><i class="fa fa-comments"></i></span>
                    <span class="tab-label">Requests</span>
                </a></li>
            </ul>
        </div>
    </div>

    <!-- Radio Player -->
    <div id="pvl-jplayer" style="width: 0; height: 0;"></div>
</div>

</body>
</html>