<?
$this->headTitle('Show Episodes');
?>

<ul data-role="listview" class="podcast_list">
<? foreach($this->podcasts as $podcast_info): ?>
    <?
    $podcast = $podcast_info['record'];
    $ep = $podcast_info['episodes'][0];
    ?>
    <li class="podcast">
        <a href="<?=$this->routeFromHere(array('action' => 'podcast', 'id' => $podcast['id'])) ?>">
            <img src="<?=\DF\Url::content($podcast['image_url']) ?>">

            <h4>
                <?=$podcast['name'] ?>
                <span class="genre-info"><?=$podcast['description'] ?></span>
            </h4>

            <span class="newest-episode-intro">Newest Episode (<?=date('F j, Y', $ep['timestamp']) ?>):</span>
            <span class="newest-episode-name"><?=$ep['title'] ?></span>
        </a>
    </li>
<? endforeach; ?>
</ul>