<?
$this->headTitle('Song Requests');
?>

<ul data-role="listview">
    <li data-role="list-divider">Stations Supporting Requests</li>
<? foreach($this->stations as $station): ?>
    <li><a href="<?=$this->route(array('controller' => 'station', 'action' => 'request', 'id' => $station['id'] )) ?>" target="_blank" rel="external">
        <?=$station['name'] ?><br>
        <small><?=$station['genre'] ?></small>
    </a></li>
<? endforeach; ?>
</ul>