<h4><a href="<?=$this->route(array('module' => 'stations', 'controller' => 'index', 'action' => 'index', 'station' => $this->station->id)) ?>"><i class="icon-arrow-left"></i> Station Center Home</a></h4>