<?
$this->headTitle('Manage Stations');
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'class'     => 'large success',
        'href'      => $this->routeFromHere(array('action' => 'edit')),
        'icon'      => 'icon-plus-sign',
        'text'      => 'Add New Station',
    )) ?>
</div>

<h2>Current Active Stations</h2>

<div class="row-fluid">
    <div class="span4">
        <h3>Radio Stations</h3>
        <?
        $this->stations = (array)$this->categories['audio'];
        echo $this->renderHere('list');
        ?>
    </div>
    <div class="span4">
        <h3>Video Streams</h3>
        <?
        $this->stations = (array)$this->categories['video'];
        echo $this->renderHere('list');
        ?>
    </div>
    <div class="span4">
        <h3>Special Events</h3>
        <?
        $this->stations = (array)$this->categories['event'];
        echo $this->renderHere('list');
        ?>

        <h3>Internal Tracking</h3>
        <?
        $this->stations = (array)$this->categories['internal'];
        echo $this->renderHere('list');
        ?>
    </div>
</div>

<h2>Stations Pending Review</h2>

<table class="table table-striped table-bordered table-condensed">
    <colgroup>
        <col width="14%" />
        <col width="7%" />
        <col width="44%" />
        <col width="35%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>Image</th>
            <th>Station</th>
            <th>Votes</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pending_stations as $record): ?>
        <tr class="input">
            <td class="center">
                <div class="btn-group">
                    <?=$this->button(array(
                        'type'      => 'small',
                        'href'      => $this->routeFromHere(array('action' => 'edit', 'id' => $record['id'])),
                        'text'      => 'Edit',
                    )) ?>
                    <?=$this->button(array(
                        'type'      => 'small',
                        'class'     => 'danger confirm-delete',
                        'href'      => $this->routeFromHere(array('action' => 'delete', 'id' => $record['id'])),
                        'text'      => 'Delete',
                    )) ?>
                </div>
            </td>
            <td class="center"><img src="<?=\DF\Url::content($record['image_url']) ?>" style="max-width: 70px;"></td>
            <td>
                <div><big><?=$record['name'] ?></big></div>
                <div><?=$record['description'] ?></div>
                <div><?=$record['station_notes'] ?></div>
            </td>
            <td>
            <? foreach((array)$record['intake_votes'] as $station_id => $vote): ?>
                <div class="<? if ($vote['decision'] == 'Accept'): ?>text-success<? else: ?>text-danger<? endif; ?>"><b><?=$vote['name'] ?></b>: <?=$vote['decision'] ?> - <?=$vote['comments'] ?></div>
            <? endforeach; ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>